# Public Mapbox access token (pk.*) from https://account.mapbox.com/access-tokens/
MAPBOX_TOKEN=

# Carto API key - not needed for vector sources yet, but it might be in the future.
# https://docs.carto.com/faqs/carto-basemaps#should-i-move-from-raster-to-vector-basemaps
CARTO_API_KEY=

# Strava application credentials, from https://www.strava.com/settings/api
# Set that page's "Authorization Callback Domain" to: localhost
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
